<!DOCTYPE html>
<html ng-app="testApp1">
<head lang="en">
    <meta charset="UTF-8">
    <title ng-controller="MainCtrl as mctrl">{{mctrl.name}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div class="page-header">
            <h3>Task Tracker</h3>
            <p>v2.0</p>
        </div>
    </div>
</div>
<div class="container" ng-controller="MainCtrl as mctrl">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <form novalidate name="myform" ng-submit="mctrl.addPerson();">
            <h4>Create a Task</h4>
            <div class="form-group">
                <label for="name">Task Name</label>
                <input type="text" class="form-control" id="name" ng-model="mctrl.newPerson.name" name="name" required ng-minlength="2" ng-maxlength="10">
                <div ng-messages="myform.name.$error" class="errors" ng-if="myform.name.$dirty">
                    <p ng-message="required">Taskname is required</p>
                    <p ng-message="minlength">Taskname should be more than 1 chars</p>
                    <p ng-message="maxlength">Taskname should be less than 11 chars</p>
                </div>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-control" id="date" name="date" ng-model="mctrl.newPerson.date" required ng-pattern="/^\d{1,2}\/\d{1,2}\/\d{4}$/">
                <div ng-messages="myform.date.$error" class="errors" ng-if="myform.date.$dirty">
                    <p ng-message="required">Date is required</p>
                    <p ng-message="pattern">Date must have a valid pattern</p>
                </div>
            </div>
            <div class="form-group">
                <label for="assigned">Assigned To</label>
                <input type="text" id="assigned" class="form-control" name="assigned" ng-model="mctrl.newPerson.assigned" required ng-minlength="2" ng-maxlength="10">
                <div ng-messages="myform.assigned.$error" class="errors" ng-if="myform.assigned.$dirty">
                    <p ng-message="required">Name is required</p>
                    <p ng-message="minlength">Name should be more than 1 chars</p>
                    <p ng-message="maxlength">Name should be less than 11 chars</p>
                </div>
            </div>

            <button type="submit" class="btn btn-default" id="button">Submit</button>
        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h4>Existing Task</h4>
        <table class="table table-striped">
            <tr ng-repeat="u in mctrl.details">
                <td>{{u.name}}</td>
                <td>{{u.date}}</td>
                <td>{{u.assigned}}</td>
            </tr>
        </table>
        </div>
    <div class="col-md-1"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.5/angular-messages.min.js"></script>
<script src="app1.js"></script>
</body>
</html>